p{ margin: 0;}

/* 타이틀 */

.layout-top-container {
    margin: 30px 0;
    display: flex;
    gap: 50px;
    align-items: center;
}

.web-title {
    font-size: x-large;
    font-weight: bold;
    margin-left: 20px;
    width: 15%;
    display: flex;
    justify-content: center;
    color: #66785F;
}

.search-bar {
    width: 40%;
    border: 3px solid #66785F;
    border-radius: 20px;
    padding: 5px 10px;
    display: flex;
}

.search-bar > input {
    width: 100%;
    border: none;
}

.search-bar > i {
    padding: 0 5px;
    cursor: pointer;
}

/* 상단메뉴 */
.layout-bottom-container {
    background-color: #66785F;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    height: 30px;
}

.top-menu {
    width: 17%;
}

.top-menu > p {
    color: white;
    font-weight: 600;
    font-size: small;
    text-align: center;   
    margin: 0;
}

.top-menu > p:hover {
    cursor: pointer;
}

/* main */
.main-container {
    display: flex;
    gap: 15px;
}

/* 유저정보 */
.profile-box {
    border-radius: 15px;
    background-color: rgba(224, 224, 224, 0.25);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    padding: 20px; 
    width: 15%;
}

.username {
    font-weight: 600;
    font-size: large;
}

.username > span:nth-child(2) {
    padding-left: 20px;
    font-weight: 200;
    font-size: x-small;
}

.manage-container > p {
    margin-bottom: 10px;
    margin-top: 30px;
    color:#666;
    font-size: small;
}

.manage-container > .manage-box {
    border: 1px solid #666;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* 두 개의 열 */
    grid-template-rows: 1fr 1fr;
    text-align: center;
}

.manage-box > div {
    padding: 10px;
    background-color: white;
}

.manage-box > div:hover {
    cursor: pointer;
}

.manage-box > div:nth-child(1) {
    border-top-left-radius: 5px;
    border-bottom: 1px solid #666;
    border-right: 1px solid #666;
} 

.manage-box > div:nth-child(2) {
    border-top-right-radius: 5px;
    border-bottom: 1px solid #666;
} 

.manage-box > div:nth-child(3) {
    border-bottom-left-radius: 5px;
    border-right: 1px solid #666;
} 

.manage-box > div:nth-child(4) {
    border-bottom-right-radius: 5px;
}

.manage-box > div > a {
    color: black;
    text-decoration: none;
    font-size: small;
}

/* root */
#root {
    border: 1px solid black;
    width: 100%;;
}