p{ margin: 0;}

/* 타이틀 */

.layout-top-container {
    margin: 30px 0;
    display: flex;
    gap: 50px;
    align-items: center;
}

.web-title {
    font-size: x-large;
    font-weight: bold;
    margin-left: 20px;
    width: 15%;
    display: flex;
    justify-content: center;
    color: #66785F;
}

.search-bar {
    width: 40%;
    border: 3px solid #66785F;
    border-radius: 20px;
    padding: 5px 10px;
    display: flex;
}

.search-bar > input {
    width: 100%;
    border: none;
}

.search-bar > i {
    padding: 0 5px;
    cursor: pointer;
}

/* 상단메뉴 */
.layout-bottom-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    height: 30px;
    border-bottom: 2px solid #66785f;
}

.top-menu {
    width: 34%;
    height: 100%;
    cursor: pointer;
}

.top-menu > a {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #4B5945;
    height: 100%;
    font-weight: 600;
    font-size: small;
    text-align: center;
    margin: 0;
    transition: background-color 0.2s ease-in-out, 
                color 0.2s ease-in-out;
}

.top-menu > a:hover {
    background-color: #66785f;
    color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* main */
.main-container {
    display: flex;
    gap: 15px;
}

.about-user {
    /* width: 15%; */
}

/* 유저정보 */
.profile-box {
    border-radius: 15px;
    background-color: rgba(224, 224, 224, 0.25);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    padding: 20px; 
}

.user-info-box {
    display: flex;
    justify-content: space-between;
}

.username {
    font-weight: 600;
    font-size: large;
    margin-bottom: 5px;
}

.my-info-btn,
.logout {
    font-size: small;
    color: #ccc;
    cursor: pointer;
}

/* .username > span:nth-child(2) {
    padding-left: 20px;
    font-weight: 200;
    font-size: x-small;
} */

.manage-box {
    display: flex;
    gap: 7px;
    margin-top: 30px;
}

.manage-box > div {
    /* padding: 10px; */
    /* border: 1px solid #666; */
    background-color: #66785F;
    border-radius: 5px;
    text-align: center;
    width: 50%;
}

.manage-box > div > a {
    color: white;
    text-decoration: none;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 8px;
}

/* my메뉴 */
.side-menu-box {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    font-size: small;
    margin-bottom: 15px;
}

.side-menu-title {
    padding: 5px;
    background-color: #ddd;
}

.side-menu-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    background-color: #f9f9f9;
}

.side-menu-content > p > a {
    text-decoration: none;
    color: #8d8d8d;
}

.side-menu-content > p > a:hover {
    font-weight: bold;
}

/* root */
#root {
    border: 1px solid black;
    width: 80%;;
}