/* .book-regist-container {
    border: 1px solid black;
    width: 1000px;
} */

.top-title {
    /* border: 1px solid green; */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-title p {
    font-weight: 600;
    font-size: xx-large;
    margin: 20px;
    color: #66785F;
}

.book-regist-box {
    margin: 10px 20px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 등록할 도서 작성 */
.book-regist-left {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.book-regist-left > button {
    all: unset;
    text-align: center;
    margin-top: 20px;
    background-color: #4d4d4d;
    color: white;
    padding: 5px;
    font-size: small;

}

.book-regist-content {
    background-color: white;
    border: 2px solid #666;
    border-radius: 5px;
    padding: 30px;
}

.book-regist-info {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

.book-regist-info p {
    grid-column: span 1;
    background-color: #e2e2e2;
    border-radius: 3px;
    padding: 5px;
    margin: 0px;
    font-size: small;
    font-weight: 600;
    text-align: center;
}

.book-regist-info .book-info {
    grid-column: span 3;
    padding: 5px;
    font-size: small;
    border-bottom: 1px solid #999;
}

.book-regist-info > .book-category,
.book-regist-info > .book-published-date {
    grid-column: span 1;
}

.book-regist-bottom {
    border: 1px solid #999;
    margin-top: 10px;
    height: 130px;
    overflow-y: auto;
}

.book-content-text {
    padding: 10px;
    font-size: small;
}

/* 등록/삭제 버튼 */
.book-regist-delete {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* 등록할 도서 리스트 */
.book-regist-right {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.book-regist-right > button {
    all: unset;
    text-align: center;
    margin-top: 20px;
    background-color: #66785F;
    color: white;
    padding: 5px;
    font-size: small;
}

.book-regist-list {
    background-color: white;
    border: 2px solid yellowgreen;
    border-radius: 5px;
    height: 270px;
    padding: 20px;
    overflow-y: auto;
}

.book-of-list {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    gap: 5px;
    margin-bottom: 5px;
}

.book-of-list p {
    margin: 0;
    padding: 5px;
    font-size: small;
    border-bottom: 1px solid #ccc;
}

.book-of-list p:nth-child(1) {
    grid-column: span 1;
    font-weight: 600;
} 

.book-of-list p:nth-child(2) {
    grid-column: span 6;
} 

.book-of-list p:nth-child(3) {
    grid-column: span 3;
} 