p {
    margin: 0;
}

.book-info-box {
    display: flex;
    gap: 15px;
    padding: 20px;
}

.book-img-box {
    width: 20%;
}

.book-img-box img {
    width: 100%;
}

.book-text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0;
}

.book-title {
    font-size: large;
    font-weight: bold;
    margin-bottom: 5px;
}

.book-from {
    font-size: small;
    color: #999;
}

/* 버튼 */
/* .book-btns {
    display: flex;
    gap: 10px;
}

.btns > button,
.write-review {
    font-size: small;
    padding: 5px;
    border-radius: 7px;
    text-align: center;
    cursor: pointer;
    width: 85px;
}

.like-text {
    background-color: #F9C4C2;
    border: 1px solid #F9C4C2;
}

.like-icon {
    display: none;
    border: 1px solid #fa8581;
    background-color: #fa8581;
}

.reading-text {
    background-color: #B2C9AD;
    border: 1px solid #B2C9AD;
}

.reading-icon {
    display: none;
    background-color: #819e7b;
    border: 1px solid #819e7b;
}

.btns i {
    color: white;
}

.like-btn:hover .like-text,
.reading-btn:hover .reading-text{
    display: none;
}

.like-btn:hover .like-icon,
.reading-btn:hover .reading-icon {
    display: block;
}

.write-review {
    background-color: white;
    border: 1px solid #999;
    width: 80%;
} */

.btns {
    position: relative;
    width: 80px;
    height: 25px; 
}

.book-btns {
    display: flex;
    gap: 10px;
}

.btns > button {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: small;
    padding: 3px;
    border-radius: 7px;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
}

.write-review {
    background-color: white;
    border: 1px solid #999;
    font-size: small;
    padding: 3px;
    border-radius: 7px;
    text-align: center;
    cursor: pointer;
    width: 80px;
}

.like-text {
    background-color: #F9C4C2;
    border: 1px solid #F9C4C2;
}

.like-icon {
    background-color: #fa8581;
    border: 1px solid #fa8581;
    color: white;
    opacity: 0;
}

.reading-text {
    background-color: #B2C9AD;
    border: 1px solid #B2C9AD;
}

.reading-icon {
    background-color: #819e7b;
    border: 1px solid #819e7b;
    color: white;
    opacity: 0;
}

.like-btn:hover .like-text,
.reading-btn:hover .reading-text {
    opacity: 0;
}

.like-btn:hover .like-icon,
.reading-btn:hover .reading-icon {
    opacity: 1;
}


.book-publish-info {
    display: flex;
    margin-top: 20px;
}

.publish-group {
    width: 33%;
    text-align: center;
    font-size: small;
}

.publish-group p:nth-child(1){
    background-color: #eee;
    color:#444;
    border: 0.5px solid #ddd;
    padding: 3px;
}

.publish-group p:nth-child(2){
    color:#444;
    padding: 3px;
    border-bottom: 0.5px solid #ddd;
}

.publish-group:nth-child(2) p:nth-child(1){
    border-left: none;
    border-right: none;
}

.publish-group:nth-child(1) p:nth-child(2){
    border-right: 0.5px solid #ddd;
}

.publish-group:nth-child(3) p:nth-child(2){
    border-left: 0.5px solid #ddd;
}

.book-detail-menu {
    display: flex;
    margin-top: 30px;
    font-size: small;
    border-bottom: 1px solid #bbbbbb;
}

.detail-menu-group {
    border: 0.5px solid #bbbbbb;
    border-bottom: none;
    padding: 5px 10px;
    cursor: pointer;
}

.active {
    border: 0.5px solid #66785F;
    background-color: #66785F;
    color: white;
}

/* .book-detail-content {
    display: flex;
    flex-direction: column;
} */

/* 리뷰작성 */
.review-write-box {
    /* border: 1px solid black; */
    font-size: small;
    padding: 20px;
}

.review-write-box > p {
    margin-bottom: 5px;
    font-size: medium;
    font-weight: bold;
    color: #66785F;
}

.review-write {
    padding: 15px 0;
}

.simple-review-group {
    margin: 5px 0;
}

.simple-review-group > span {
    color: #999;
}

.review-regist-btn {
    float: right;
    font-size: small;
    border: none;
    background-color: white;
    cursor: pointer;
}

.review-regist-btn:hover {
    font-weight: bold;
    color: #66785f;
}

.simple-review {
    border: none;
    border-bottom: 1px solid #bbbbbb;
    padding: 5px;
    width: 280px;
    margin-right: 10px;
}

.simple-review:focus {
    outline: none;
}

.review-write > textarea {
    width: 100%;
    resize: none;
    height: 100px;
    padding: 5px;
    border-color: #bbbbbb;
    box-sizing: border-box;
}

.review-write > textarea:focus {
    outline: none;
}

/* 리뷰이미지등록 */
.book-img-group label {
    font-size: small;
    border: none;
    border-radius: 10px;
    padding: 2px 10px;
    text-align: center;
    background-color: #ddd;
    color: #333;
    cursor: pointer;
}

.book-img-group label:hover {
    background-color: #ccc;
}

.book-img-group input {
    display: none;
}

.book-review-img {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.image-preview {
    position: relative;
    display: inline-block;
}

.image-preview img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    /* border-radius: 5px; */
    border: 1px solid #ddd;
}

.image-preview button {
    position: absolute;
    top: 1px;
    right: 1px;
    background: #66666642;
    color: #333;
    border: none;
    /* border-radius: 50%; */
    cursor: pointer;
    width: 18px;
    height: 18px;
    font-size: x-small;
    text-align: center;
}



/* 리뷰목록 */
.detail-review {
    border-bottom: 1px solid #ddd;
    padding: 20px;
}

.review-top-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.review-report {
    font-size: small;
    color: #ccc;
    cursor: pointer;
}

.review-report:hover {
    border-bottom: 1px solid #ccc;
}

.review-one {
    font-weight: bold;
}

.review-real {
    font-size: small;
    color: #666;
    margin-bottom: 10px;
}

.review-imgs > img {
    width: 70px;
}

.review-bottom-group {
    font-size: small;
    color: #ccc;
    display: flex;
    justify-content: space-between;
}

/*목록버튼*/
.list-btn {
    background-color: white;
    border: none;
    cursor: pointer;
    color: #999;
    padding: 3px 10px;
    margin: 30px 0;
    float: right;
}

.list-btn:hover {
    border-bottom: 1px solid #999;
}