p {margin: 0;}

.my-book-note {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #666;
}

.my-book-note-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    column-gap: 70px;
    row-gap: 40px;
    padding: 0 20px;
}

.my-book {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.my-book > img {
    width: 100%;
}

.book-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
}

.book-status > p {
    border: 1px solid #819e7b;
    border-radius: 3px;
    background-color: #819e7b;
    font-size: small;
    font-weight: bold;
    color: white;
    text-align: center;
    width: 30%;
}

.reading-done > p {
    border: 1px solid #cfcfcf;
    background-color: #cfcfcf;
    color: #666;
}

.del-book-note {
    color: #666;
    display: none;
    cursor: pointer;
    margin-right: 2px;
}

.del-book-note:hover {
    color: rgb(212, 34, 34);
}

.my-book:hover .del-book-note {
    display: block;
}

.book-title {
    font-size: small;
}

.book-reading-period {
    font-size: x-small;
    color: #999;
}